<?xml version="1.0"?>
<!-- works fine with PHPUnit-3.6.10 -->
<phpunit
      bootstrap="module/Mrss/test/Bootstrap.php"
      colors="true"
      convertErrorsToExceptions="true"
      convertNoticesToExceptions="true"
      convertWarningsToExceptions="true"
      verbose="true"
      stopOnFailure="false"
      processIsolation="false"
      backupGlobals="false"
      syntaxCheck="true"
      >
   <testsuite name="Test all modules">
      <!--<directory>./module/Application/test/ApplicationTest</directory>-->
      <directory>./module/Mrss/test/MrssTest</directory>
   </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">module/Mrss/src</directory>
            <directory suffix=".php">module/Application/src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="report" highlight="true" />
    </logging>

</phpunit>
