<?xml version="1.0"?>
<!-- works fine with PHPUnit-3.6.10 -->
<phpunit
      bootstrap="module/Mrss/test/Bootstrap.php"
      colors="true"
      convertErrorsToExceptions="true"
      convertNoticesToExceptions="true"
      convertWarningsToExceptions="true"
      verbose="true"
      stopOnFailure="false"
      processIsolation="false"
      backupGlobals="false"
      syntaxCheck="true"
      >

    <testsuites>
        <testsuite name="MRSS tests">
            <directory>./module/Mrss/test/MrssTest/Entity</directory>
            <directory>./module/Mrss/test/MrssTest/Model</directory>
            <directory>./module/Mrss/test/MrssTest/Service</directory>
            <directory>./module/Mrss/test/MrssTest/Form</directory>
            <directory>./module/Mrss/test/MrssTest/Validator</directory>
            <directory>./module/Mrss/test/MrssTest/View</directory>
            <!--directory>./module/Cms/test/CmsTest</directory-->
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">module/Mrss/src/Mrss/Entity</directory>
            <directory suffix=".php">module/Mrss/src/Mrss/Model</directory>
            <directory suffix=".php">module/Mrss/src/Mrss/Service</directory>
            <directory suffix=".php">module/Mrss/src/Mrss/Form</directory>
            <directory suffix=".php">module/Mrss/src/Mrss/Validator</directory>
            <directory suffix=".php">module/Mrss/src/Mrss/View</directory>
            <!--directory suffix=".php">module/Cms/src</directory-->
        </whitelist>
    </filter>

    <!--logging>
        <log type="coverage-html" target="build/coverage" highlight="true" />
        <log type="coverage-clover" target="build/log/clover.xml" />
    </logging-->

</phpunit>
