@import url('/css/nccbp.css');

.logo img {
	width: 230px;
}

h1, .page-header h2 {
	color: black;
	border-bottom: 4px solid #C50C46;
}

h2 {
	color: #262981;
}

h3 {
	color: #666;
}

.header-title h1 {
	border-bottom: none;
	text-transform: none !important;
}

.nav li {
	margin-top: 0px !important;
}

a.schedule-btn, a:visited.schedule-btn {
	background: #04497B;
	color: white;
}

.navbar-default .navbar-nav > li.renew-nav > a, .navbar-default .navbar-nav > li.join-nav > a {
	background-color: #608279;
}

a.login-btn, #headerLoginForm button {
	background: #C50C46;
}

.navbar-nav .open .dropdown-menu {
	background: #04497B;
}

.btn-primary {
	background: #04497B;
}

.renew-nav, .join-nav {
	background: #618378;
}

/** Homepage **/
#homepage-slide-container {
	background-color: #00508d;
}
.homepage-slider-c {
	padding: 0;
}

#matter .carousel-caption {
	background-color: #00508d;
	background-color: rgba(34, 73, 123, 0.85);
	top: 8%;
	right: auto;
	left: 3%;
	bottom: auto;
}

#accountability .carousel-caption {
	top: auto;
	right: 6%;
	bottom: 8%;
	left: auto;
	background-color: rgba(155, 155, 155, .85);
}

#yardstick .carousel-caption {
	top: 9%;
	right: 8%;
	bottom: auto;
	left: auto;
	background-color: rgba(142, 0, 10, .85);
	/** #BA123E */
}

.testimonial {
	clear: both;
}

.research-page h2 {
	color: #C50C46;
	color: rgb(142, 0, 10);
	margin-top: 30px;
	border-bottom: 2px solid #888
}

/** Data entry **/
.input-group {
	width: 30px;
}
.data-entry-subheading {
	text-transform: none;
	color: #666;
	font-size: 100%;
}
.table > thead > tr.smallHeading > th {
	font-size: 77%;
	text-transform: none;
	color: #888;
}


.table > thead > tr > th.data-entry-blue {
	background: #262981;
	color: white;
	border: none
}

.table > thead > tr > th.data-entry-red {
	background: #C50B45;
	color: white;
	border: none !important;
}

.table tr > .data-entry-border-right {
	border-right: 2px solid #CCC;
}


.table > thead > tr.data-entry-heading > th {
	text-transform: none;
	color: #333;
	font-size: 92%;
	background: #f2f2f2;
	border-bottom: none;
}

/** Tabs **/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #262981;
}
a, a:visited {
	color: #262981;
}

table.data-entry-compact input[type=text] {
	width: 52px;
	padding: 3px;
}

table.data-entry-compact .input-group-addon {
	padding: 6px 4px;
}
