@import url('/css/nccbp.css');

.logo img {
	width: 230px;
}

h1, .page-header h2 {
	color: black;
	border-bottom: 4px solid #C50C46;
}

h2 {
	color: #262981;
}

h3 {
	color: #666;
}

.header-title h1 {
	border-bottom: none;
	text-transform: none !important;
}

.nav li {
	margin-top: 0px !important;
}

a.schedule-btn {
	background: #04497B;
}

a.login-btn, #headerLoginForm button {
	background: #C50C46;
}

.navbar-nav .open .dropdown-menu {
	background: #04497B;
}

.btn-primary {
	background: #04497B;
}

.renew-nav, .join-nav {
	background: #618378;
}

/** Data entry **/
.input-group {
	width: 30px;
}
.data-entry-subheading {
	text-transform: none;
	color: #666;
	font-size: 100%;
}
.table > thead > tr.smallHeading > th {
	font-size: 77%;
	text-transform: none;
	color: #888;
}


.table > thead > tr > th.data-entry-men {
	background: #262981;
	color: white;
	border: none
}

.table > thead > tr > th.data-entry-women {
	background: #C50B45;
	color: white;
	border: none !important;
}

.table tr > .data-entry-border-right {
	border-right: 2px solid #CCC;
}


.table > thead > tr.data-entry-heading > th {
	text-transform: none;
	color: #333;
	font-size: 92%;
	background: #f2f2f2;
	border-bottom: none;
}

/** Tabs **/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #262981;
}
a, a:visited {
	color: #262981;
}
