@import url('/css/nccbp.css');

.logo img {
	width: 230px;
}

h1, .page-header h2 {
	color: black;
	border-bottom: 4px solid #C50C46;
}

.header-title h1 {
	border-bottom: none;
	text-transform: none !important;
}

a.schedule-btn {
	background: #04497B;
}

a.login-btn, #headerLoginForm button {
	background: #C50C46;
}

.navbar-nav .open .dropdown-menu {
	background: #04497B;
}

.btn-primary {
	background: #04497B;
}

.renew-nav, .join-nav {
	background: #618378;
}

/** Data entry **/
.input-group {
	width: 30px;
}
.data-entry-subheading {
	text-transform: none;
	color: #666;
	font-size: 100%;
}
