/* This CSS file should be included on every page and for every study */


/** benchmark management backend **/
.benchmarkGroupControls li, .studyControls li {
    display: inline;
    padding-right: 20px;
}
.benchmarkGroupSection {
    margin-top: 70px;
}
.studyControls a.active {
    background: #004f8c;
    color: white;
    padding: 2px 5px;
    text-decoration: none;
}
.benchmarkContents li {
    list-style-type: none;
}


/* BenchmarkGroup progress */
.benchmarkGroupProgress {
    width: 150px;
    float: left;
    margin-right: 20px;
    height: 10px;
}

.clear {
    clear: both;
}

.table > tbody > tr > td.heatmapCell {
    color: white;
    text-align: center;
    vertical-align: middle;
}

.heatmapCellBlue {
    background-color: #004f8c;
}

table.dataTable thead .sorting.heatMapYear {
    background: none;
}

.dataTables_filter input {
    display: inline;
}

/* Data definition switch */
#dataDefinitionForm {
    width: 200px;
    /*float: right;*/
}
#dataDefinitionForm .control-label {
    display: none;
}

#report-strengths h2 {
    margin-bottom: 12px;
}
.strengthRank {
    margin-bottom: 12px;
    margin-left: 5px;
    color: #336699 !important;
    font-weight: bold;
}
.strengthRank a {
    text-decoration: none;
}

.table td.numberCell, .table th.numberCell {
    text-align: right;
}

.highcharts-contextmenu hr {
    margin: 0;
}
