#content{
    margin-bottom: 90px;
    margin-top: 20px;
}
#content .intro h6{
    font-size: 21px;
    font-style: italic;
    color: #252526;
    line-height: 29px;
    font-weight: normal;
    margin: 0 0 16px 0;
}
#content .intro p{
    color: #3F3F3F;
    line-height: 24px;
}

/* Table styles */
table
{
    width: 100%;
}

table.style1
{
}

table.style1 tbody tr:nth-child(2n+2)
{
    background: #f4f4f4;
}

table.style1 td
{
    padding: 0.5em 1em 0.5em 1em;
}

table.style1 th
{
    text-align: left;
    font-weight: 700;
    padding: 0.75em 1em 0.75em 1em;
}

table.style1 thead
{
    border-bottom: solid 1px #ddd;
}

table.style1 tfoot
{
    border-top: solid 1px #ddd;
    background: #eee;
}

table.style1 tbody
{
}

.alert {
    margin: 10px 20px 10px 20px;
}

/* Form styles */
.control-label {
    font-weight: bold;
}

@media (min-width: 980px) {
    .form-horizontal .control-label {
        width: 16%;
    }

    .form-horizontal .controls {
        margin-left: 18%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

}
