.complete-chart-box {
    margin: 0px 20px 20px 20px;
    width: 44%;
    height: 440px;
    padding:  10px 0;
    float: left;
}

/* Custom reports */
.customReport p.reportDescription {
    margin-left: 20px;
    font-style: italic;
}
.customReportList h2 {
    margin: 20px 20px 15px 0;
}

span.smallNote {
    padding-left: 20px;
    color: #AAA;
    font-size: 80%;
}

.custom-report-text {
    min-height: 390px;
}

.custom-report-text h1 {
    border-bottom: none;
}

#text-editor {
    width: 500px;
}

