@media (min-width: 980px) {
    .form-horizontal .control-label {
        width: 32%;
    }

    .form-horizontal .controls {
        margin-left: 34%;
    }
}


/* Form 9 special styling */
#control-group-institutional_demographics_companies_less_than_50,
#control-group-institutional_demographics_companies_50_to_99,
#control-group-institutional_demographics_companies_100_to_499,
#control-group-institutional_demographics_companies_500_or_greater {
    margin-left: 100px;
}

/* System admin switching */
form#system-admin-switch {
    margin-top: 10px;
}
form#system-admin-switch select {
    margin-right: 10px;
}


/* Side-by-side fields in instruction form */
.two-col .control-group {
    width: 47%;
    float: left;
    height: 150px;
}

#fieldset-buttons {
    clear: both;
}


/* Workforce Project */

/* Heading on revenue page */
#control-group-revenue_federal,
#control-group-revenue_state,
#control-group-revenue_local {
    margin-left: 150px;
}

div.subgroup {
    margin-left: 150px;
}

h4.subheading {
    margin-top: 25px;
    margin-left: 180px;
}

h3.heading {
    border-bottom: 1px solid #CCC;
    margin-top: 30px;
}

.heading-notes {
    font-style: italic;
    margin-bottom: 20px;
}

/* Only show data definition when the field is focused */
.control-group .help-block {
    display: none
}
.control-group.focus .help-block {
    display: block;
}
