@media (min-width: 980px) {
    .form-horizontal .control-label {
        width: 32%;
    }

    .form-horizontal .controls {
        margin-left: 34%;
    }
}


/* Form 9 special styling */
#control-group-institutional_demographics_companies_less_than_50,
#control-group-institutional_demographics_companies_50_to_99,
#control-group-institutional_demographics_companies_100_to_499,
#control-group-institutional_demographics_companies_500_or_greater {
    margin-left: 100px;
}

/* System admin switching */
form#system-admin-switch {
    margin-top: 10px;
}
form#system-admin-switch select {
    margin-right: 10px;
}


/* Side-by-side fields in instruction form */
#control-group-inst_full_total_expend,
#control-group-inst_part_total_expend,
#control-group-inst_other_total_expend,
#control-group-inst_full_total_num,
#control-group-inst_part_total_num,
#control-group-inst_other_total_num {
    width: 47%;
    float: left;
}

#fieldset-buttons {
    clear: both;
}
