.data-entry-grid .control-group {
    padding: 0px !important;
    margin-bottom: 1px !important;
}

.data-entry-grid td {
    text-align: center;
}

.data-entry-grid .control-group input {
    width: 70px;
    margin: 0px auto;
}

.data-entry-grid td.grid-category, .data-entry-grid th {
    font-weight: bold;
    font-size: 108%;
    text-align: center;
    background: #888;
    color: #eee;
    vertical-align: middle !important;
}

.data-entry-grid.table tr.help-text td.grid-category {
    border-top: none;
}

.data-entry-grid.table tr.help-text div {
    width: 400px;
    margin: 5px auto;
}

.data-entry-grid tr.help-text {
    display: none;
}

td.error {
    color: #B94A48;
}

#full-time-total, #part-time-total, #other-time-total {
    font-weight: bold;
    padding: 5px;
}

#specify-other input {
    width: 200px;
}

#specify-other {
    display: none;
}
