@media (min-width: 980px) {
    .form-horizontal .control-label {
        width: 32%;
    }

    .form-horizontal .controls {
        margin-left: 34%;
    }
}


/* Form 9 special styling */
#control-group-institutional_demographics_companies_less_than_50,
#control-group-institutional_demographics_companies_50_to_99,
#control-group-institutional_demographics_companies_100_to_499,
#control-group-institutional_demographics_companies_500_or_greater {
    margin-left: 100px;
}
