/* #header, #navbar, #admin-menu {
    display: none;
} */

/*@page { margin: 0; }*/

p {
    font-size: 14px;
}

#executiveReport {
    width: 940px;
}

#content h1 {
    border-bottom: none !important;
}

a[href]:after {
    content: none;
}

.nav, .adminNavigation, .footer, #headerButtons, #headerLogin, #headerLogin button, .navbar-default {
    display: none;
}

.navbar-toggle {
    border-color: transparent !important;
}
.navbar-toggle .icon-bar {
    background-color: transparent;
}
#actionItems {
    display: none;
}

.with-navbar #content { margin-top:  -4em; }

#header {
    margin-top: -1em;
    margin-bottom: 40px;
    margin-left: 10px;
}

/*#content, #content-inner { margin-top:  -.75em !important; }*/

.highcharts-container {
    width: 423px !important;
}

.executiveReportIntro {
    width: 940px;
    float: left;
    padding-right: 0px;
    margin:  20px 0 15px 0;
    border-top:  3px #336699 solid;
}

.executivesChart {
    border-bottom: 1px solid #CCC;
    margin: 0px 0px 10px 0px;
    width: 100%;
    height: 280px;
    padding:  0 0 10px 0;
}

.highcharts-button {
    display: none;
}

#printButton {
    display: none;
}


#closure-blocks {
    display: none;
}
.executiveReportStrengths, .executiveReportImprovements { margin: 0px 20px 0px 20px; }
body {
    background-color: #FFF !important;
}

.impersonation {
    display: none !important;
}

.container-fluid, .container {
    margin-left: 0 !important;
}




