a {
  color: #0065a1;
}

a:hover {
  color: #002c57;
}

h2 {
  color: #0065a1;
}

.navbar {
  border-bottom: 5px solid #0065a1;
}

#feature_slider {
  margin-top:-20px;
}

.slide#ideas .info {
  top:280px;
}

.slide#tour .info a {
  -webkit-transition:opacity 0.1s linear;
  background-color:#0065a1;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:#FFFFFF;
  display:inline-block;
  font-size:19px;
  font-weight:bold;
  margin-top:40px;
  padding:13px 30px;
  transition:opacity 0.1s linear;
}

.slide#ideas .info a {
  -webkit-transition:opacity 0.1s linear;
  background-color:#002c57;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:#FFFFFF;
  display:inline-block;
  font-size:19px;
  font-weight:bold;
  margin-top:40px;
  padding:13px 30px;
  transition:opacity 0.1s linear;
}


.slide#responsive .info a {
  -webkit-transition:opacity 0.1s linear;
  background-color:#0065a1;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:#FFFFFF;
  display:inline-block;
  font-size:19px;
  font-weight:bold;
  margin-top:40px;
  padding:13px 30px;
  transition:opacity 0.1s linear;
}


#pagination {
  top:625px;
}

.roundedimages img {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  display:block;
  margin:0 auto;
  max-width:100%;
}

.profileimages {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  display:block;
  margin-left: 0px;
  padding-left: 0px;
}

.tablemargin p {
  margin: 5px;
}

#orgbox .span4{
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-top:3px solid #0065a1;
  border-bottom:0px solid #0065a1;
  border-left:0px solid #0065a1;
  border-right:0px solid #0065a1;
  display:inline-block;
  margin-top:15px;
  padding:15px;
}

#orgbox .span4 img{
  padding-bottom:15px;
}

.roundedtable {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-top:3px solid #0065a1;
  border-bottom:3px solid #0065a1;
  border-left:1px solid #0065a1;
  border-right:1px solid #0065a1;
  display:inline-block;
  margin-top:0px;
  padding:0px;
  background-color: #FFFFFF;
}

.roundedtable td {
  border: none;
  border-bottom:1px solid #0065a1;
}

.roundedtable tr:last-child td {
  border-bottom:none;
  padding-bottom:3px;
}

.roundedtable tr:first-child td {
  padding-top:3px;
}

.roundedbox {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-top:3px solid #0065a1;
  border-bottom:3px solid #0065a1;
  border-left:1px solid #0065a1;
  border-right:1px solid #0065a1;
  display:inline-block;
  padding:15px;
}

#benchmarks h4 {
  margin: 20px 0px 0px 0px;
}

#benchmarks .firsth4 {
  margin: 0px;
}

#benchmarks ul {
  margin: 2px 0px 0px 25px;
}

.sidebar {
  background-color: #0065a1;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-top:3px solid #0065a1;
  border-bottom:3px solid #0065a1;
  border-left:1px solid #0065a1;
  border-right:1px solid #0065a1;
  display:inline-block;
  padding:15px;
}

.sidebar p {
  color:#FFFFFF;
}

.roundedtable p {
  color: #333333;
}

#showcase .feature .img_box{
  border-radius:10px;
}