
#subscription fieldset {
    display:inline-block;
    width:100%;
    margin-top:20px;
}

#subscription legend {
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-top:1px solid #0065a1;
    border-bottom:1px solid #0065a1;
    border-left:1px solid #0065a1;
    border-right:1px solid #0065a1;
    display:inline-block;
    width:100%;
    background-color:#0065a1;
    color:#FFFFFF;
    margin-bottom:0px;
    padding-left:10px;
}

#subscription label {
    width:100%;
    text-align:left;
}

.controls {
    width:100%;
    padding:0px;
    margin:0px;
}

#subscription .controls {
    margin:0px;
}

#subscription .control-group {
    padding:0% 1%;
    margin-bottom:0px !important;
}

#subscription .control-group input {
    width:100%;
}

#subscription #fieldset-submit .btn-primary {
    width:auto;
}

#subscription .well {
    background-color: none;
    padding:0%;
    border:0px;
}

#subscription .btn{
    float: right;
    margin: 1% 0%;
}

legend + .control-group {
    margin-top:0px;
}

#control-group-institution-name {
    width:60%;
    margin:5px 0%;
    float:left;
}

#control-group-institution-ipdeds {
    width:30%;
    margin:5px 0% 5px 5%;
    float:left;
    clear:right;
}

#control-group-institution-address{
    width:45%;
    margin:5px 0%;
    float:left;
}

#control-group-institution-address2{
    width:45%;
    margin:5px 0% 5px 5%;
    float:left;
    clear:right;
}

#control-group-institution-city {
    width:42%;
    margin:5px 0%;
    float:left;
}

#control-group-institution-state {
    width:26%;
    margin:5px 0% 5px 5%;
    float:left;
}

#control-group-institution-zip {
    width:15%;
    margin:5px 0% 5px 5%;
    float:left;
    clear:right;
}

#control-group-adminContact-prefix{
    width:26%;
    margin:5px 0%;
    clear:right;
}

#control-group-adminContact-firstName {
    width:45%;
    margin:5px 0%;
    float:left;
}

#control-group-adminContact-lastName {
    width:45%;
    margin:5px 0% 5px 5%;
    float:left;
    clear:right;
}

#control-group-adminContact-title {
    width:45%;
    margin:5px 0%;
    float:left;
}

#control-group-adminContact-phone {
    width:28%;
    margin:5px 0% 5px 5%;
    float:left;
}

#control-group-adminContact-extension {
    width:10%;
    margin:5px 0% 5px 5%;
    float:left;
    clear:right;
}

#control-group-adminContact-email {
    width:45%;
    margin:5px 0%;
    float:left;
}

#control-group-adminContact-emailConfirm {
    width:45%;
    margin:5px 0% 5px 5%;
    float:left;
    clear:right;
}

#control-group-same-as-admin  {
    width:95%;
    margin:5px 0%;
    float:left;
}

#control-group-same-as-admin label{
    width:30%;
    margin:5px 0%;
    float:left;
}

#subscription #controls-same-as-admin input {
    width:5%;
    margin:12px 0%;
    float:left;
}

#control-group-dataContact-prefix{
    width:26%;
    margin:5px 0%;
    clear:right;
}

#control-group-dataContact-firstName {
    width:45%;
    margin:5px 0%;
    float:left;
}

#control-group-dataContact-lastName {
    width:45%;
    margin:5px 0% 5px 5%;
    float:left;
    clear:right;
}

#control-group-dataContact-title {
    width:45%;
    margin:5px 0%;
    float:left;
}

#control-group-dataContact-phone {
    width:28%;
    margin:5px 0% 5px 5%;
    float:left;
}

#control-group-dataContact-extension {
    width:10%;
    margin:5px 0% 5px 5%;
    float:left;
    clear:right;
}

#control-group-dataContact-email {
    width:45%;
    margin:5px 0%;
    float:left;
}

#control-group-dataContact-emailConfirm {
    width:45%;
    margin:5px 0% 5px 5%;
    float:left;
    clear:right;
}
