body a {
    color: #809c00;
    text-decoration: none;
}
body a:hover {
    color: #005580;
    text-decoration: underline;
}

#wrapper .navbar.navbar-inverse .navbar-inner {
    background: #13B2CD;
    border-bottom: 8px solid #0097BB;
    padding-bottom: 0px;
}

#wrapper .navbar-inverse .dropdown-menu {
    background: #13B2CD;
    padding: 0;
}

#wrapper .navbar .brand img {
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
}

#wrapper .navbar ul.nav.pull-right {
    margin-top: 70px;
    font-size: 75%;
}

#wrapper .navbar-inverse .nav > li { margin-left: 10px; }

#wrapper  ul.dropdown-menu > li { margin-left: 0; }

#wrapper .navbar-inverse .nav li a {
    color: #222;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 110%;
}

#wrapper .navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background: #13B2CD;
}

#wrapper .navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: #222;
    border-bottom-color: #222;
}

#wrapper .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #222;
    border-bottom-color: #222;
}

#wrapper .nav-collapse {
    padding-right: 20px;
}

.btn-primary {
    background-color: hsl(195, 79%, 43%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56c5eb", endColorstr="#1798c4");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#56c5eb), to(#1798c4));
    background-image: -moz-linear-gradient(top, #56c5eb, #1798c4);
    background-image: -ms-linear-gradient(top, #56c5eb, #1798c4);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56c5eb), color-stop(100%, #1798c4));
    background-image: -webkit-linear-gradient(top, #56c5eb, #1798c4);
    background-image: -o-linear-gradient(top, #56c5eb, #1798c4);
    background-image: linear-gradient(#56c5eb, #1798c4);
    border-color: #1798c4 #1798c4 hsl(195, 79%, 38%);
    color: #FFF !important;
    padding: 10px 15px;
}

#headerLoginForm .btn-primary {
    background-color: #9BBE3C !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#C7D241", endColorstr="#9BBE3C");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#C7D241), to(#9BBE3C));
    background-image: -moz-linear-gradient(top, #C7D241, #9BBE3C);
    background-image: -ms-linear-gradient(top, #C7D241, #9BBE3C);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C7D241), color-stop(100%, #9BBE3C));
    background-image: -webkit-linear-gradient(top, #C7D241, #9BBE3C);
    background-image: -o-linear-gradient(top, #C7D241, #9BBE3C);
    background-image: linear-gradient(#C7D241, #9BBE3C);
    border-color: #9BBE3C;
    color: #333 !important;
}


/* cms page title */
#content h3 {
    font-size: 300%;
    /*color: #00697E;*/
    color: #00687f;
    font-weight: 300;
}

body .section_header h3 {
    font-style: normal;
    border-bottom: none;
}
body .section_header {
    margin-bottom: 30px;
    text-align: center;
}
.ruled-bottom {
    border-bottom: 3px solid #636766;
    padding-top: 60px;
}

.ruled-bottom img {
    height: 250px;
    margin: 40px 20px 0px 20px;
    box-shadow: 0px -5px 40px 5px #888;
}

#content .ruled-bottom h3 {
    color: #787A6F;
    font-weight: normal;
    font-size: 180%;
}

.project-partners .row-fluid {
    border-bottom: 3px solid #636766;
    margin-bottom: 80px;
    padding-bottom: 20px;
}

.project-partners-heading {
    color: #1a697c;
}

.project-partners .span5 {
    padding-right: 20px;
}

.other-projects-title {
    text-align: center;
    color: #00697E;
    font-weight: normal;
    margin-top: 30px;
}

.navbar {
    margin-bottom: 0px !important;
}

#feature_slider {
    background: transparent !important;
    position: relative;
}

#feature_slider article {
    height: 430px;
}

html .navbar .nav > li > a {
    padding: 10px 8px 10px;
}
html #slide-left, #slide-right {
    top: 200px;
}

#pagination {
    position: absolute;
    top: 450px;
}

body #pagination li.active a {
    background: #0F98BB;
}
body #showcase .features_op1_row .feature .img_box span.circle {
    background: #0F98BB;
}

.slide {
    background-repeat: no-repeat !important;
}

.slide#ideas {
    background-color: #EFEFEF !important;
}

.slide#responsive {
    background-color: #EBDDC7 !important;
}

.slide#benchmarks {
    background-color: #C7E8FF !important;
}

.slide#ideas .info {
    margin-left: 55%;
}

#ideas h3 {
    /* color: #90C019; */
    color: #07677C;
    font-size: 250%;
    width: 300px;
    text-align: left;
    line-height: 36px;
}

#ideas p {
    text-align: left;
    width: 320px;
}

#responsive h3 {
    color: #1EB2CE;
    font-size: 230%;
    text-align: left;
    line-height: 36px;
}

#responsive p {
    width: 400px;
    text-align: left;
    color: black;
}

.slide#responsive .info {
    position: absolute;
    top: 2%;
    left: 50%;
    width: 40%;
}

.slide#benchmarks .info {
    width: 400px;
    position: absolute;
    top: 5%;
    left: 30%;
}

.slide#benchmarks .info h3 {
    color: #07677C;
}

body #footer {
    background-color: #606463;
}

body #footer .navbar-inverse {
    max-width: 940px;
}


/* About Page */

.page-header h2 { color: #00677e; }

p.page-intro { color: #809c00; font-weight: 300;  font-size:  200%; margin-bottom: 5%; line-height: 115%; }

html .sidebar {
    background-color: #13B2CD;
    border-top: 3px solid #13B2CD;
    border-bottom: 3px solid #13B2CD;
    border-left: 1px solid #13B2CD;
    border-right: 1px solid #13B2CD;
}
html .roundedtable, html .sidebarinset {
    border-top: 3px solid #13B2CD;
    border-bottom: 3px solid #13B2CD;
    border-left: 1px solid #13B2CD;
    border-right: 1px solid #13B2CD;
}

html table.roundedtable {
    width: 92%;
}

ul.symbol-links {
    margin-bottom: 30px;
}

ul.symbol-links li.form {
    padding: 20px;
}

/* Partners Page */

h4 { color: #0097bd; margin:20px 0 5px 0; }

h5 { color: #666; font-size:  175%; }

ul.benchmarks { margin: 0px 50px 0 0; }
ul.benchmarks > li { list-style: none; border-bottom: 1px solid #CCC; line-height: 24px; padding: 0 0 5px 0;
    margin: 0 0 5px 0; }

body #subscription legend {
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-top:1px solid #13B2CD;
    border-bottom:1px solid #13B2CD;
    border-left:1px solid #13B2CD;
    border-right:1px solid #13B2CD;
    display:inline-block;
    width:100%;
    background-color:#13B2CD;
    color:#FFFFFF;
    margin-bottom:0px;
    padding-left:10px;
}

#headerLoginForm {
    top: 0px;
    right: -66px;
}

/** Hide some peer comparison fields **/
#control-group-workforceEnrollment,
#control-group-workforceRevenue {
    display: none;
}
