.navbar.navbar-inverse .navbar-inner {
    background: #FFF
}

body {
    background: #FFF;

}

.nav-collapse {
    clear: both;
    margin-left: 120px;
}

.navbar .nav {
    float: none;
    width: 100%;
    background: #00568F;
    padding-left: 120px;
}

#headerLoginForm {
    position: relative;
}

