.chart {
    width: 46%;
    margin: 15px;
    float: left;
}

.summarySection {
    padding: 0px 20px 30px 20px;
}

.summarySection:nth-child(2n) {
    background: #EEE;
}

@media (max-width: 979px) {
    .chart {
        width: 95%;
    }
}

