body {
    background: #FFF;
}
a {
  color: #0065a1;
}

a:hover {
  color: #002c57;
}

h2 {
  color: #0065a1;
}

h4 {
  margin: 20px 0px 5px 0px;
}

.navbar {
  border-bottom: 5px solid #0065a1;
}

#feature_slider {
  margin-top:-20px;
}

.slide#ideas .info {
  top:280px;
}

.slide#tour .info a {
  -webkit-transition:opacity 0.1s linear;
  background-color:#0065a1;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:#FFFFFF;
  display:inline-block;
  font-size:19px;
  font-weight:bold;
  margin-top:40px;
  padding:13px 30px;
  transition:opacity 0.1s linear;
}

.slide#ideas .info a {
  -webkit-transition:opacity 0.1s linear;
  background-color:#002c57;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:#FFFFFF;
  display:inline-block;
  font-size:19px;
  font-weight:bold;
  margin-top:40px;
  padding:13px 30px;
  transition:opacity 0.1s linear;
}


.slide#responsive .info a {
  -webkit-transition:opacity 0.1s linear;
  background-color:#0065a1;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:#FFFFFF;
  display:inline-block;
  font-size:19px;
  font-weight:bold;
  margin-top:40px;
  padding:13px 30px;
  transition:opacity 0.1s linear;
}


#pagination {
  top:625px;
}

#benchmarks h4 {
  margin: 20px 0px 0px 0px;
}

#benchmarks .firsth4 {
  margin: 0px;
}

#benchmarks ul {
  margin: 2px 0px 0px 25px;
}

#showcase .feature .img_box{
  border-radius:10px;
}

#ideas.slide .info {
    position: relative;
    top: 150px;
    left: 10%;
    width: 25%;
    text-align: right;
}

#ideas.slide .info h2 {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: normal;
    line-height: 57px;
    text-shadow: 1px 1px 1px #3B3262;
}

#timeline h4 {
  background-color:#0065a1;
  color: #FFFFFF;
  width: 20%;
  valign:center;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  padding: 10px 1%;
  text-align:right;
  float: left;
  clear: none;
  margin:20px 0px;
}

#timeline p {
  width: 74%;
  float: left;
  padding: 0px 2%;
  margin: 15px 0px 20px 0px;
}

#timeline div {
  float: left;
  width:100%;
  border-bottom:1px solid #AAAAAA;
}

#firsttimediv {
  border-top:1px solid #AAAAAA;
}

#membertime p{
  border-left:5px solid #0065a1;
  margin:15px;
  padding:0px 10px 0px 10px;
}

#responsive.slide .info {
  top:100px;
}

#ideas.slide .info {
  top:100px;
}

@media (min-width:768px) and (max-width: 979px) {

#responsive.slide .info {
  top:75px;
}

#responsive.slide .info h3 {
  line-height:normal;
}

#tour.slide .info h3 {
  line-height:normal;
}

#ideas.slide .info {
  top:25px;
}

#ideas.slide .info h3 {
  line-height:normal;
}

#control-group-institution-city {
  width:35%;
  margin:5px 0%;
  float:left;
}

#control-group-institution-state {
  width:33%;
  margin:5px 0% 5px 5%;
  float:left;
}

#control-group-institution-zip {
  width:15%;
  margin:5px 0% 5px 5%;
  float:left;
  clear:right;
}

}

@media (min-width:480px) and (max-width: 767px) {

#control-group-institution-city {
  width:97%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-institution-state {
  width:45%;
  margin:5px 0% 5px 0%;
  float:left;
}

#control-group-institution-zip {
  width:45%;
  margin:5px 0% 5px 5%;
  float:left;
  clear:right;
}

}

@media (max-width: 479px) {

#control-group-institution-name {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-institution-ipdeds {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-institution-address{
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-institution-address2{
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-institution-city {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-institution-state {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-institution-zip {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-adminContact-prefix{
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-adminContact-firstName {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-adminContact-lastName {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-adminContact-title {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-adminContact-phone {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-adminContact-extension {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-adminContact-email {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-adminContact-emailConfirm {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-same-as-admin  {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-same-as-admin label{
  width:47%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#subscription #controls-same-as-admin input {
  width:5%;
  margin:5px 0% 5px 4%;
  float:left;
  clear:right;
}

#control-group-dataContact-prefix{
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-dataContact-firstName {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-dataContact-lastName {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-dataContact-title {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-dataContact-phone {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-dataContact-extension {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-dataContact-email {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}

#control-group-dataContact-emailConfirm {
  width:98%;
  margin:5px 0%;
  float:left;
  clear:right;
}
}

@media (max-width: 575px) {
#timeline h4 {
  width: 35%;
  valign:center;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  padding: 10px 2% 10px 2%;
  text-align:right;
  float: left;
  clear: none;
}

#timeline p {
  width: 55%;
  float: left;
  padding: 10px 4% 10px 2%;
}

}

.navbar .container {
    position: relative;
}

body #headerLoginForm {
    position: absolute;
    bottom: 0px;
    right: -72px;
}

#headerLoginForm dt {
    color: #AAA;
}


/** Peer comparison form **/
#control-group-facultyUnionized,
#control-group-staffUnionized,
#control-group-ipedsFallEnrollment,
#control-group-fiscalCreditHours,
#control-group-pellGrantRecipients {
    display: none;
}
