/* This CSS file should be included on every page and for every study */


/** benchmark management backend **/
.benchmarkGroupControls li, .studyControls li {
    display: inline;
    padding-right: 20px;
}
.benchmarkGroupSection {
    margin-top: 70px;
}
.studyControls a.active {
    background: #004f8c;
    color: white;
    padding: 2px 5px;
    text-decoration: none;
}
.benchmarkContents li {
    list-style-type: none;
}


/* BenchmarkGroup progress */
.benchmarkGroupProgress {
    width: 150px;
    float: left;
    margin-right: 20px;
    height: 10px;
}

.clear {
    clear: both;
}

.table > tbody > tr > td.heatmapCell {
    color: white;
    text-align: center;
    vertical-align: middle;
}

.heatmapCellBlue {
    background-color: #004f8c;
}

table.dataTable thead .sorting.heatMapYear {
    background: none;
}

.dataTables_filter input {
    display: inline;
}

/* Data definition switch */
#dataDefinitionForm {
    width: 200px;
    /*float: right;*/
}
#dataDefinitionForm .control-label {
    display: none;
}

#report-strengths h2 {
    margin-bottom: 12px;
}
.strengthRank {
    margin-bottom: 12px;
    margin-left: 5px;
    color: #336699 !important;
    font-weight: bold;
}
.strengthRank a {
    text-decoration: none;
}

.table td.numberCell, .table th.numberCell {
    text-align: right;
}

.highcharts-contextmenu hr {
    margin: 0;
}

#renew.form-horizontal .controls {
    margin-left: 10px;
}

span.fieldName {
    background: #f5f5f5;
    border: 1px solid #ddd;
}


/* Outlier report */
.outlierEquation {
    display: none;
}
.showOutlierEquation {
    display: block !important; /* We don't want it visible in emails */
}

form:not(.data-entry-form) .controls input[type="text"], .controls textarea {
    width: 60%;
}

/** Fix bug in bootstrap */
.progress-bar[aria-valuenow="0"] {
    min-width: 0 !important;
}


/*.highcharts-yaxis-title tspan {
    width: 100px;
    height: 100px;
    color: red;
}*/


/** Peer group management */
.peerGroup {
    margin-top: 20px;
}
.peerGroup p {
    margin: 5px 10px 15px 30px;
}

/* right-aligned button group to show next to a heading */
.heading-btns {
    float: right;
}

h1 {
    margin-top: 10px !important;
}

.loading {
    text-align: center;
}


/** Data issues **/
.issue {
    padding: 15px;
    border-bottom: 2px solid #CCC;
}

.issue a, .issue a:visited {
    color: black;
}

.issue-message {
    font-size: 120%;
}

.issue .userNote {
    display: none;
}

div.userNote .form-horizontal .control-group {
    margin: 0 !important;
    padding: 0;
}

div.userNote .form-horizontal .controls {
    margin: 5px;
}

div.userNote .controls textarea {
    width: 100%;
    height: 80px;
}

/*div.userNote*/ .well .control-group {
    float: left;
}

td.no-border {
    border: none !important;
}

.submit-fieldset .control-group {
    float: left;
}
.submit-fieldset .controls {
    width: 50px !important;
}

.form-horizontal .submit-fieldset .controls {
    margin: 5px;
}
.submit-fieldset #control-group-submitButton {
    width: auto !important;
}

ul.ui-autocomplete {
    list-style: none;
    padding: 3px;
}


.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    font-weight: normal !important;
    background: #888 !important;
    color: white !important;
    border: none !important;
}

.table > thead.thead-inverse > tr > th, table.table.dataTable > thead.thead-inverse > tr > th {
    color: #FFF;
    background-color: #373a3c;
}

#controls-suppressions {
    padding-left: 15px;
}


.calculation-progress .progress-bar {
    overflow-x: visible;
    white-space: nowrap;
    text-align: center;
    color: black; /* color is for demo purposes */
}


/* Custom report add button */
.addItemButton a {
    text-decoration: none;
}

label.checkbox {
    margin-left: 20px;
}
