body {
    background: white;
    margin: 0;
}
html, body {
    height: auto;
}

a[href]:after {
    content: none;
}

#content {
    width: 940px;
    margin-bottom: 20px;
}


.impersonation, .system-impersonation, .back, .heading-btns, .footer-nav, .socialButtons, .footer-logo, .headerLogin, .btn-group-sm, .addItemButton, .navbar, .footer {
    display: none !important;
}

.reportItems {
    /*width: 750px;*/
    width: 1000px;
}

.complete-chart-box {
    /*width: 400px !important;*/
    /*width: 300px !important;*/
    width: 420px !important;
}

.complete-chart-box.full-width {
    /*width: 400px !important;*/
    /*width: 300px !important;*/
    width: 840px !important;
}

/*.footer {
    height: 50px;
}*/

.highcharts-button {
    display: none;
}

@page {
    size: auto;
    margin: 10mm 10mm 10mm 10mm;
}

.highcharts-title {
    font-size: 13px !important;
}
