.report thead {
    margin-top: 30px;
}

.table > thead > tr.topHeading th {
    background: #608CC0;
    color: #FFF;
    text-align: center;
}

tr.topHeading th.benchmarkGroupTitle {
    background: transparent;
    color: #000;
}

.table > thead > tr.secondHeading th {
    background: #DCE6F1;
    text-align: right;
    color: #000;
}

.report tbody td {
    text-align: right;
}
.report tbody td.benchmarkLabel {
    text-align: left;
    font-weight: bold;
}

.table thead th {
    border-top: none;
}


/* Table striping */
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #F6FFFF;
}

.nationalReportChart {
    display: none;
}

.table-striped-manual .odd {
    background: #F6FFFF;
}

.table-striped-manual .even {
    background: #FFF;
}



/* Indicia modifications */
/* NATIONAL REPORTS */

h3 {
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 28px;
    line-height: 30px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

h3.benchmarkGroupTitle {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 30px;
    text-align: left;
    text-transform: none;
}



.small-heading {
    font-size: 24px;
    color: #666;
    font-weight: normal;
}

.table-striped-manual .odd {
    background: #F5F5F5 !important;
}

.table-hover tbody tr:hover td {
    background: #feffee !important;
}

.table th, .table td {
    vertical-align: middle !important;
}

tr.topHeading th.nationalPercentiles {
    background: #487ab6;
}

.nationalDataDefinition {
    margin: 10px;
    text-align: left;
    font-style: italic;
}

.report tbody tr.reportSubHeading {
    margin-top: 20px;
}
.report tbody tr.reportSubHeading td {
    background-color: #d5d5d5;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    font-size: 120%;
}

.retportSeparator {
    height: 20px;
}



/* Max national report */
tr.reportDetailRow {
    display: none;
}
tr.reportDetailRow td.benchmarkLabel {
    padding-left: 30px;
}

.table td.detailName {
    padding-left: 40px;
}
