.summaryChart {
    width: 46%;
    margin: 15px;
    float: left;
}

.summaryChart p {
    margin-top: 16px;
}

.summaryChart svg {
    font-family: 'Lato', sans-serif !important;
}

.summarySection {
    padding: 0px 20px 30px 20px;
}

.summarySection:nth-child(2n) {
    background: #EEE;
}

@media (max-width: 979px) {
    .chart {
        width: 95%;
    }
}


/* Indicia */
h3 {
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 28px;
    line-height: 30px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

.summarySection {
    margin-bottom: 75px;
    border-bottom: 2px solid #999;
    background: #EEE;
    padding-top: 20px !important;
}
